@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&display=swap');

:root{
    --background: #FFFFFF;
    --secondary-background: #D9D0BF;
    --primary: #1A4443;
    --secondary: #BFA280;
    --text: #232323;
    --accent: #F0C869;
    --accent-hover: #d3af5b;
    --label: #ABAEAD;
    --hero-overlay-dark: rgba(35, 35, 35, 0.25);
    --hero-overlay-secondary: rgba(191, 162, 128, 0.62);
    --hero-overlay-light: rgba(217, 217, 217, 0.6);
    --hero-overlay-primary: rgba(26, 68, 67, 0.69);
    --faq-icon-bg: #F7F7FF;
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Inter';
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

a{
    text-decoration: none;
}

body {
    background-color: var(--background);
    min-height: 100vh;
}

*::-webkit-scrollbar{
    width: 10px; 
    height: 10px;
}

*::-webkit-scrollbar-track{
    background-color: var(--background);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--secondary);
    border-radius: 20px;
}

.pages{
    padding-top: 80px;
}
